//! Variable declarations
$font-stack: Arial, Helvetica, sans-serif;;

//! General Rules for all elements
* {
    margin: 0;
    padding: 0;
    font-family: $font-stack;
}

//! Body Grid layout

body {
    min-height: 100vh;
    display: grid;
    grid-template-rows: 52px auto 40px;
    grid-template-areas: 
    "header"
    "article"
    "footer";
}

article {
    grid-area: article;
}

//! Header Styles

header {
    grid-area: header;
    padding: 15px 0 15px 15px;
    background: rgb(30, 30, 30);
    ul {
        display: grid;
        grid-template-columns: auto 1fr auto auto auto;
        grid-template-areas: 
        "home . comp rules hof";
        li {
            list-style-type: none;
            display: inline;
            font-size: 1.1rem;
            padding-right: 25px;
            &:nth-of-type(1) {
                grid-area: home;
                font-weight: bold;
                font-size: 1.2rem;
            }
            &:nth-of-type(2) {
                grid-area: comp;
            }
            &:nth-of-type(3) {
                grid-area: rules;
            } 
            &:nth-of-type(4) {
                grid-area: hof;
            }
            a {
                text-decoration: none;
                color: rgb(255, 200, 15);
            }
        }
    }
}

//! Home Article Styles

article#homeArticle {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr auto;
    grid-template-areas: 
    "hero hero hero hero"
    ". heroCaption heroCaption ."
    "para1 para1 para2 para2";
    div#hero {
        grid-area: hero;
        height: 80vh;
        font-size: 1.2rem;
        background-image: url('images/CheeseRolling.jpg');
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        position: relative;
        p {
            display: block;
            grid-area: caption;
            color: white;
            background: rgba(50, 50, 50, 0.7);
        }
    }
    p {
        &:nth-of-type(1) {
            grid-area: para1;
        }
        &:nth-of-type(2) {
            grid-area: para2;
        }
    }
}

//! Competition Article Styles

article#compArticle {
    color: black;
}

//! Rules Article Styles

article#rulesArticle {
    color: black;
}

//! HallofFame Article Styles

article#hofArticle {
    color: black;
}

//! Footer Styles

footer {
    grid-area: footer;
    text-align: center;
    background: rgb(30, 30, 30);
    p {
        padding-top: 10px;
        color: white;
    }
}
