* {
    margin: 0;
    padding: 0;
}

div#hero {
    height: 80vh;
    font-size: 1.2rem;
    background-image: url('images/CheeseRolling.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

ol {
    list-style-type: decimal;
}